doctype html
html
    head
        include ../set/import.pug
    body.login-body
        block main-content 
        .login-content.align-items-center
            .login-box.row
                .login-left.col-xl-5
                .login-right.col-xl-7
                    .login-form-box
                        .logo
                            h2
                                a(href="/") CREA
                                    span.yellow P
                                    |O