.header 
    .container
        .row.header-row
            .col-xl-2

            .col-xl-10
                .row
                    .col-10
                    .header-user.col-2
                        span.header-alarm
                            i.mdi.mdi-bell
                        span.header-user-info
                            i.mdi.mdi-account