.header 
    .container
        .row.header-row.justify-content-between
            .logo
                h2 
                    a(href="/") CREA
                        span.yellow P
                        |O
            .header-user
                .header-alarm.header-func
                    i.mdi.mdi-bell
                .header-user-info.header-func
                    i.mdi.mdi-account.account
                    .user-info-box
                        .row
                            .col-12
                                .profile-header.align-items-center
                                    if logined
                                        .profile-selfie
                                        span.profile-name #{authInfo}
                                    else
                                        .profile-selfie
                                        span.profile-name Welcome !
                        .profile-desc
                            .row
                                .col-12
                                    if logined
                                        .profile-ment 
                                            a(href='/auth/logout') logout
                                    else
                                        .profile-ment Creapo에 회원 가입하시면 더 많은 혜택과 아마 로또가 당첨될걸요?
                                            a(href='/users').yellow.signin 회원가입

script.
    $(".header-user-info .account").on("click", function(){
        $(".user-info-box").toggle();
    });