.header 
    .container
        .row.header-row
            .col-xl-2
                img(src='/img/logo.png' style='width: 7em; margin-left:2em;')
            .col-xl-10
                .row
                    .col-10
                    .header-user.col-2
                        .header-alarm.header-func
                            i.mdi.mdi-bell
                        .header-user-info.header-func
                            i.mdi.mdi-account
                            .temp
script.
    $(".header-user-info").on("click", function(){
        //- if( $(".temp").hasClass("open") == false){
        //-     $(".temp").fadeIn().addClass("open");
        //- } else{
        //-     $(".temp").fadeOut().removeClass("open")
        //- }
        $(".temp").toggle();
    });