body{background: #f4f4f4;}

.header{position: fixed; top: 0; left: 0; right: 0; height: 4em; background: #fff; /*background-image: linear-gradient(20deg, #d6e3fe, #ebe5fa,#ebe5fa,#ebe5fa,#f8d7db,#f8c1e2);*/} 