body{background: #f4f4f4;}

.header{position: fixed; top: 0; left: 0; right: 0; height: 4em; background: #fff; /*background-image: linear-gradient(20deg, #d6e3fe, #ebe5fa,#ebe5fa,#ebe5fa,#f8d7db,#f8c1e2);*/} 
.header > .container{ margin: 0 auto;}
.header .header-row{ height: 4em;  -ms-flex-align: center !important; align-items: center !important;}
.header .header-func{display: inline-block;}
.header .header-func:not(:last-child){ margin-right: 12px; }
.header-user i{ color: #bdbdbd;}
.header-user i:before{ font-size: 1.2em;}
.header-user-info{position: relative;}

.temp{position: absolute; top: 2em; left: 0; right: 0; width: 100px; height: 200px; background: black; display: none;}

.content{ margin-top: 4em; }
.container{ margin: 0 auto; }

.box-grid-layout {position: relative; margin: 0.625em 0; padding: 0;}
.box-grid-layout .box:hover{ opacity: 0.7;}
.box-grid-layout .box-text{height: 317px;}
.box-grid-layout .box-text p{height: 100%; background-image: linear-gradient(45deg, #ff548e, #e54cff,#7c90ff,#41abff); color: #f4f4f4; font-weight: 900; font-size: 4em;}
.grid-sizer, .grid-item { width: 25%; }
.grid-item { float: left; }
.grid-item img { display: block; max-width: 100%; }
    
/* 리사이즈 할 때, 공백이 생기는 에러 */
/* .box-grid-layout.animated .box { -webkit-transition: all 0.1s ease-out; -moz-transition: all 0.1s ease-out; -o-transition: all 0.1s ease-out; transition: all 0.1s ease-out; } */
/************************************/

@media all and (min-width:1024px) {
    .header > .container{ width: 100%; }
    /* .container{ width: 76em; } */
}