body{background: #f4f4f4;}

.header{position: fixed; top: 0; left: 0; right: 0; z-index:9999; background: #fff; /*background-image: linear-gradient(20deg, #d6e3fe, #ebe5fa,#ebe5fa,#ebe5fa,#f8d7db,#f8c1e2);*/} 
.header > .container{ margin: 0 auto;}
.header .header-row{ height: 5.5em;  -ms-flex-align: center !important; align-items: center !important;}
.header .header-func{display: inline-block;}
.header .header-func:not(:last-child){ margin-right: 12px; transition: opacity 0.2s; -webkit-transition: opacity 0.2s;}
.header-user i{ color: #bdbdbd; cursor: pointer; }
.header-user i:hover{opacity: 0.7;}
.header-user i:before{ font-size: 1.2em;}
.header-user-info{position: relative;}

.temp{position: absolute; top: 2em; left: auto; right: 0; width: 9em; height: 13em; background: #fff; border-radius: 8px; box-shadow: 1px 3px 5px 0px #505050;
    -webkit-animation: slide-down .2s cubic-bezier(0.4, 0, 1, 1); -moz-animation: slide-down .2s cubic-bezier(0.4, 0, 1, 1); animation: slide-down .2s cubic-bezier(0.4, 0, 1, 1); display: none;}

.content{ margin-top: 5.5em; }
.container{ margin: 0 auto; }

.box-grid-layout {position: relative; margin: 0.625em 0; padding: 0;}
.box-grid-layout .box-text{height: 317px;}
.box-grid-layout .box-text p{height: 100%; background: #fcd661; /*background-image: linear-gradient(45deg, #ff548e, #e54cff,#7c90ff,#41abff);*/}
.box-grid-layout .box-text p a{ color: #474747; font-weight: 900; font-size: 4em;}

.grid-sizer, .grid-item { width: 20%; }
.grid-item { float: left; -webkit-transition: opacity 0.2s; transition: opacity 0.2s;}
.grid-item:hover{opacity: 0.7;}
.grid-item img { display: block; max-width: 100%; }
    
/* 리사이즈 할 때, 공백이 생기는 에러 */
/* .box-grid-layout.animated .box { -webkit-transition: all 0.1s ease-out; -moz-transition: all 0.1s ease-out; -o-transition: all 0.1s ease-out; transition: all 0.1s ease-out; } */
/************************************/
@-webkit-keyframes slide-down {
    0% { opacity: 0; -webkit-transform: translateY(-10%); }   
    100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-moz-keyframes slide-down {
    0% { opacity: 0; -moz-transform: translateY(-100%); }   
    100% { opacity: 1; -moz-transform: translateY(0); }
}

@media all and (min-width:1024px) {
    .header > .container{ width: 100%; }
    /* .container{ width: 76em; } */
}