doctype html
html
    head
        include ../../set/import.pug
    body.login-body
        block main-content 
        .login-content.align-items-center
            .login-box.reg-box.row
                .login-left.col-xl-5.col-md-8
                    .login-form-box
                        .row
                            .col-12
                                .logo
                                    h2
                                        a(href="/") CREA
                                            span.yellow P
                                            |O
                        .row.form-row
                            .col-12
                                form(action="/users/register" method="post")
                                    .row
                                        .col-12
                                            input(type='text' name='id' class='form-custom' placeholder="아이디")
                                    .row
                                        .col-12
                                            input(type='password' name='pwd' class='form-custom' placeholder='비밀번호')
                                    .row
                                        .col-12
                                            input(type='password' name='pwdCon' class='form-custom' placeholder='비밀번호 확인')
                                    .row
                                        .col-12
                                            input(type='text' name='name' class='form-custom' placeholder="닉네임")
                                    .row
                                        .col-12
                                            input(type='text' name='email' class='form-custom' placeholder="이메일")
                                    .row
                                        .col-12
                                            input(type='submit' class="button-point" value="Okay!")
                .login-right.col-xl-7.col-md-4