doctype html
html
    head
        include set/import.pug
        script(src='/js/ui/masonry.pkgd.min.js')
    body
        block header
        include set/header.pug

        block main-content 
        .content
            .container
                .box-grid-layout.grid
                    .grid-sizer

                    for item in title
                        .grid-item
                            a(href=`#` id='datail' name=item.id)
                                img(src=`/uploads/img/${item.name}`)    
                    .grid-item.box-text#create
                        p 
                            a(href='#' id='create') CREATE
                    .grid-item.box-text#design
                        p 
                            a(href='works') DESIGN
            .test(style='display:none')
            .test2(style='display:none')

    
    script.
        $(document).ready(function(){
            $('#create').insertAfter('.grid-item:nth-child(2)');
            $('#design').insertAfter('.grid-item:nth-child(6)');

            setTimeout(function(){
                var $grid = $('.grid').masonry({
                    itemSelector: '.grid-item',
                    percentPosition: true,
                    columnWidth: '.grid-sizer'
                });
            },50)

            $('#create').on('click',function(){
                $.ajax({
                    url : "/works",
                    type : "GET",
                    success: function(data){
                        $('.test').html(data).css('display','block')
                    }
                })
            })
            $('#datail').on('click',function(){
                var selectId = $(this).attr(name);
                console.log(selectId)
                $.ajax({
                    url : `/works/${selectId}`,
                    type : "GET",
                    success: function(data){
                        $('.test2').html(data).css('display','block')
                    }
                })
            })
        })
