doctype html
html
    head
        include set/import.pug
        script(src='/js/ui/masonry.pkgd.min.js')
    body
        block header
        include set/header.pug

        block main-content 
        .content
            .container
                .box-grid-layout.grid
                    .grid-sizer

                    for item in imageList
                        .grid-item
                            div(id='datail' class='grid-image')
                                img(src=`/uploads/img/${item.name}` id=`${item.id}`)
                    .grid-item.box-text#create
                        p 
                            a(href='#' id='create') CREATE
                    .grid-item.box-text#design
                        p 
                            a(href='works') DESIGN
        .test(style='display:none')
        .layer-wrap#layer(style='display:none')
    
    script.
        $(document).ready(function(){
            //- 카테고리 박스 위치 지정
            $('#create').insertAfter('.grid-item:nth-child(2)');
            $('#design').insertAfter('.grid-item:nth-child(8)');

            //- 이미지 그리드 배치
            setTimeout(function(){
                var _grid = $('.grid').masonry({
                    itemSelector: '.grid-item',
                    percentPosition: true,
                    columnWidth: '.grid-sizer'
                });
            },50)

            //- 레이어 팝업 가운데 배치
            function layerAutoSet(){
                var browserHeight = window.innerHeight;
                var layerHeight = $('.layer-box').height();
                var layerTop = ( browserHeight - layerHeight ) / 2;
                $('.layer-box').css('top',layerTop);
            }

            //- 생성팝업
            $('#create').on('click',function(){
                $.ajax({
                    url : "/works",
                    type : "GET",
                    success: function(data){
                        $('#layer').html(data).fadeIn()
                        layerAutoSet()
                    }
                })
            })

            //- 조회팝업
            $('#datail img').on('click',function(){
                var selectImg = $(this).attr('id')
                $.ajax({
                    url : '/works/'+selectImg,
                    type : "GET",
                    success: function(data){
                        $('#layer').html(data).fadeIn()
                        layerAutoSet()
                    }
                })
            })
        })
