doctype html
html
    head
        include set/import.pug
        script(src='/js/ui/masonry.pkgd.min.js')
    body
        block header
        include set/header.pug

        block main-content 
        .content
            .container
                .box-grid-layout.grid
                    .grid-sizer

                    for item in imageList
                        .grid-item
                            div(id='datail' class='grid-image')
                                img(src=`/uploads/img/${item.name}` id=`${item.id}`)
                    .grid-item.box-text#create
                        p 
                            a(href='#' id='create') CREATE
                    .grid-item.box-text#design
                        p 
                            a(href='works') DESIGN
        .test(style='display:none')
        .layer-wrap#layer(style='display:none')
    
    script.
        $(document).ready(function(){
            $('#create').insertAfter('.grid-item:nth-child(2)');
            $('#design').insertAfter('.grid-item:nth-child(6)');

            setTimeout(function(){
                var $grid = $('.grid').masonry({
                    itemSelector: '.grid-item',
                    percentPosition: true,
                    columnWidth: '.grid-sizer'
                });
            },50)

            $('#create').on('click',function(){
                $.ajax({
                    url : "/works",
                    type : "GET",
                    success: function(data){
                        $('.test').html(data).fadeIn()
                    }
                })
            })
            $('#datail img').on('click',function(){
                var selectImg = $(this).attr('id')
                console.log(selectImg)
                $.ajax({
                    url : `/works/${selectImg}`,
                    type : "GET",
                    success: function(data){
                        $('#layer').html(data).fadeIn()
                    }
                })
            })
        })
