doctype html
html
    head
        include set/import.pug
        script(src='/js/ui/masonry.pkgd.min.js')
    body
        block header
        include set/header.pug

        block main-content 
        .content
            .container
                .box-grid-layout.grid
                    .grid-sizer

                    for item in title
                        .grid-item
                            a(href=`/works/${item.id}`)
                                img(src=`/uploads/img/${item.name}`)    
                    .grid-item.box-text
                        p 
                            a(href='works') CREATE

    
    script.
        $(document).ready(function(){
            var $grid = $('.grid').masonry({
                itemSelector: '.grid-item',
                percentPosition: true,
                columnWidth: '.grid-sizer'
            });
        })
