doctype html
html
    head
        include set/import.pug
        script(src='/js/ui/masonry.pkgd.min.js')
    body
        block header
        include set/header.pug

        block main-content 
        .content
            .container
                .box-grid-layout.grid
                    .grid-sizer
                    .grid-item
                        img(src='/img/sample/castle.jpg')
                    .grid-item
                        img(src='/img/sample/kyotonight.jpg')
                    .grid-item
                        img(src='/img/sample/sample1.png')
                    .grid-item
                        img(src='/img/sample/sample5.jpg')
                    .grid-item
                        img(src='/img/sample/tokyotrain.jpg')
                    .grid-item.box-text
                        p 
                            a(href='works') CREATE
                    .grid-item
                        img(src='/img/sample/harajuku.jpg')
                    .grid-item
                        img(src='/img/sample/sample2.png')
                    .grid-item
                        img(src='/img/sample/Kyotocats.jpg')
                    .grid-item
                        img(src='/img/sample/sample3.jpg')
                    .grid-item
                        img(src='/img/sample/sample7.jpg')
                    .grid-item
                        img(src='/img/sample/sample4.jpg')
                    .grid-item
                        img(src='/img/sample/sample6.jpg')

    
    script.
        $(document).ready(function(){
            var $grid = $('.grid').masonry({
                itemSelector: '.grid-item',
                percentPosition: true,
                columnWidth: '.grid-sizer'
            });
        })
