doctype html
html
    head
        include set/import.pug
    body
        block header
        include set/header.pug

        block main-content 
        .content
            .container
                .box-grid-layout.animated#wookmark1
                    .box
                        img(src='/img/sample/castle.jpg')
                    .box
                        img(src='/img/sample/kyotonight.jpg')
                    .box
                        img(src='/img/sample/sample1.png')
                    .box
                        img(src='/img/sample/sample5.jpg')
                    .box
                        img(src='/img/sample/tokyotrain.jpg')
                    .box
                        img(src='/img/sample/harajuku.jpg')
                    .box
                        img(src='/img/sample/sample2.png')
                    .box
                        img(src='/img/sample/Kyotocats.jpg')
                    .box
                        img(src='/img/sample/sample3.jpg')
                    .box
                        img(src='/img/sample/sample7.jpg')
                    .box
                        img(src='/img/sample/sample4.jpg')
                    .box
                        img(src='/img/sample/sample6.jpg')

    script(src='/js/ui/wookmark.js')
    script.
        $(document).ready(function(){
            function getWindowWidth() {
                return Math.max(document.documentElement.clientWidth, window.innerWidth || 0)
            }
            $('#wookmark1').wookmark({
                offset: 0,
                itemWidth: 300,
                flexibleWidth: function () {
                    return getWindowWidth() < 1024 ? '100%' : '50%';
                }
            });
        })