form(action="/works" method="post" enctype="multipart/form-data")
    //- div
    //-     input(type="text" name="text")
    div
        input(type="file" name="userfile")
    div
        input(type="submit")